@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
}
